package adventofcode.day{{ .Day}};

import static org.junit.jupiter.api.Assertions.assertEquals;

import org.junit.jupiter.api.Test;

class Day{{ .Day}}Test {

    @Test
    void testPart1() {
        assertEquals(0, Day{{ .Day}}.part1("day{{ .Day}}_test.txt"));
    }

    @Test
    void testPart2() {
        assertEquals(0, Day{{ .Day}}.part2("day{{ .Day}}_test.txt"));
    }

}